---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import CaseStudy from '../components/CaseStudy.astro';
import Services from '../components/Services.astro';
import ContactForm from '../components/ContactForm.vue';
---

<Layout title="Lanma Tech | Consultoría de Software y Automatización">
	<main>
        <Hero />
        <CaseStudy />
		<Services />

		<ContactForm client:visible />
        </main>
</Layout>